<template>
    <div>
        <NavMenu/>
        <ActusComponent/>
        <Footer/>
    </div>
</template>


<script>
// @ is an alias to /src
import ActusComponent from '../components/ActusComponent.vue'
import NavMenu from '@/components/NavMenu.vue'
import Footer from '@/components/FooterComponent.vue'
export default {
  name:'Actus',
  components: {
    ActusComponent,
    NavMenu,
    Footer
  }
}
</script>