<template>
    <div>
        <NavMenu/>
        <ContactComponent/>
        <Footer/>
    </div>
</template>


<script>
// @ is an alias to /src
import ContactComponent from '../components/ContactComponent.vue'
import NavMenu from '@/components/NavMenu.vue'
import Footer from '@/components/FooterComponent.vue'
export default {
  name:'Contact',
  components: {
    ContactComponent,
    NavMenu,
    Footer
  }
}
</script>