<template>
    <div>
      <DashboardComponent/>
    </div>
</template>
<script>
import DashboardComponent from "../components/DashboardComponent.vue"
export default {
  name:'Dashboard',
  mounted: function(){
    console.log("Est connecté : ", localStorage.jwtToken )
  },
  components: {
    DashboardComponent
  },
}
</script>
