<template>
    <div>
      <DashEditMenu/>
    </div>
</template>
<script>
import DashEditMenu from "../components/DashEditMenu.vue"
export default {
  name:'Dashboard',
  mounted: function(){
    console.log("Est connecté : ", localStorage.jwtToken )
  },
  components: {
    DashEditMenu
  },
}
</script>