<template>
  <div>
    <NavMenu/>
    <HomeComponent />
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import HomeComponent from '../components/HomeComponent.vue'
import NavMenu from '@/components/NavMenu.vue'
import Footer from '@/components/FooterComponent.vue'
export default {
  name:'Home',
  components: {
    HomeComponent,
    NavMenu,
    Footer
  }
}
</script>