<template>
    <div>
        <NavMenu/>
        <carte-component/>
        <Footer/>
    </div>
</template>


<script>

import NavMenu from '@/components/NavMenu.vue'
import Footer from '@/components/FooterComponent.vue'
import CarteComponent from '../components/CarteComponent.vue'
export default {
  name:'CarteVue',
  components: {
    NavMenu,
    Footer,
    CarteComponent
  }
}
</script>