<template>
    <div>
        <NavMenu/>
        <LegalComponent/>
        <Footer/>
    </div>
</template>


<script>
// @ is an alias to /src
import LegalComponent from '../components/LegalComponent.vue'
import NavMenu from '@/components/NavMenu.vue'
import Footer from '@/components/FooterComponent.vue'
export default {
  name:'Legal',
  components: {
    LegalComponent,
    NavMenu,
    Footer
  }
}
</script>