<template>
    <div>
      <DashPlatsComponent/>
    </div>
</template>
<script>
import DashPlatsComponent from '../components/DashPlatsComponent.vue'
export default {
    name:'PlatsDashboard',
    mounted: function(){
        console.log("Est connecté : ", localStorage.jwtToken )
    },
    components: {
        DashPlatsComponent
    },
}
</script>