<template>
    <div>
        <NavMenu/>
        <ProposComponent/>
        <Footer/>
    </div>
</template>


<script>
// @ is an alias to /src
import ProposComponent from '../components/ProposComponent.vue'
import NavMenu from '@/components/NavMenu.vue'
import Footer from '@/components/FooterComponent.vue'
export default {
  name:'Legal',
  components: {
    ProposComponent,
    NavMenu,
    Footer
  }
}
</script>