<template>
    <div>
    <!-- Titre et sous titre avec fond -->
      <div class=" home flex flex-wrap flex-col justify-center content-center h-96 bg-center "  style="background-image: url(bg-home-1.jpg)" > 
        <div class="text-center ">
          <p class="edwardian-light font-medium text-8xl  " > Actualités et Photos </p>
        </div>
        <div class="text-center">
          <p class="home-desc-light text-3xl "> Retrouver toutes les actualités, photos rapidement et simplement depuis notre page <a href="https://www.facebook.com/Restaurant-Les-Amoureux-392090458261360" class=" link-facebook " >Facebook </a></p>
        </div>
        <div class="bg-white  md:w-14 w-10 rounded-full mt-4 self-center">
          <img class="animate-bounce w-14" src="2079328.svg">
        </div>
      </div>
      <div class="flex justify-center">
            <div v-if="mobileScreen" class="   fb-page" data-href="https://www.facebook.com/Restaurant-Les-Amoureux-392090458261360/" data-tabs="timeline" data-width="320" data-height="720" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Restaurant-Les-Amoureux-392090458261360/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Restaurant-Les-Amoureux-392090458261360/">Restaurant Les Amoureux</a></blockquote></div>
             <div v-if="!mobileScreen" class="   fb-page" data-href="https://www.facebook.com/Restaurant-Les-Amoureux-392090458261360/" data-tabs="timeline" data-width="720" data-height="1080" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Restaurant-Les-Amoureux-392090458261360/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Restaurant-Les-Amoureux-392090458261360/">Restaurant Les Amoureux</a></blockquote></div>
      </div>
    </div>
</template>

<script>

export default {
    name: 'ActusComponent',
    data: function(){
    return{
    mobileScreen:true,
    facebookLoad:0,
    window: {
        width: 0,
        height: 0
    },
    }
},
mounted(){
    this.loadFacebook()
},

created() {
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
    
},
destroyed() {
    window.removeEventListener('resize', this.handleResize);
},
methods :{
    loadFacebook(){
    let facebookFeed = document.createElement('script')
    facebookFeed.setAttribute('src',"https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v10.0&appId=988084784939061&autoLogAppEvents=1" )
    document.head.appendChild(facebookFeed)
    
    },
    //Méthode permetant d'adapater le responsive du feed Facebook en focntion de la tail de l'écran 
    handleResize() {
        this.window.width = window.innerWidth;
        this.window.height = window.innerHeight;
        if (this.window.width <= "640"){
            this.mobileScreen = true
        }
    
        if(this.window.width > "640"){
            this.mobileScreen = false
        }
}
}

}
</script>
<style>
.link-facebook:hover{
  color: #5D328F;
}
</style>