<template>
    <div>
    <!-- Titre et sous titre avec fond -->
      <div class=" home flex flex-wrap flex-col justify-center content-center h-96 bg-center "  style="background-image: url(bg-home-1.jpg)" > 
        <div class="text-center ">
          <p class="edwardian-light font-medium text-8xl  " > La carte </p>
        </div>
        <div class="text-center">
          <p class="home-desc-light text-3xl "> Retrouver ci-dessous la carte du mois !</p>
        </div>
        <div class="bg-white  md:w-14 w-10 rounded-full mt-4 self-center">
          <img class="animate-bounce w-14" src="2079328.svg">
        </div>
      </div>
      <!-- Contenu de la page Carte -->
      <div class=" sm:mr-36 sm:ml-36 flex flex-col items-center mt-6"   > 
          <div class="flex">
            <button class="mr-2 appearance-none rounded-none relative block w-32 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-purple-700 focus:z-10 sm:text-sm" @click="(childMenu=!childMenu) && getDisplayMenu() " >Menu</button>
            <button class="appearance-none rounded-none relative block w-32 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-purple-700 focus:z-10 sm:text-sm" @click="getDisplayMenuEnfant()">Menu Enfant</button>
          </div>
          <div v-if="!childMenu">
            <!-- Options si définis dans le menu -->
            <div class="secondaryfont text-4xl text-semibold text-center mt-4">
                {{option}}
            </div>
            <!-- Entrees -->
            <div class="flex flex-col ">
                <p class="mt-4 mb-4 edwardian text-7xl text-center">Pour commencer...</p>
                <div class=" flex flex-col sm:flex sm:flex-row shadow-xl sm:justify-around  items-center">
                    <img src="img_hours.jpg" alt="Entrée Tartar de saumon" class="w-1/2 h-1/2 lg:w-1/3  lg:h-1/3 rounded ">
                    <div class="flex flex-col ml-6 sm:text-xl items-center self-center">
                        <ul v-for="el in display_items.entrees" :key="el.id" >
                            <li  class="mb-4">
                                {{el.name}}  <span class="ml-4 font-semibold" v-if="el.price != 0" >{{el.price}}€</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Plats -->
                <div class="flex flex-col ">
                    <p class="mt-4 mb-4 edwardian text-7xl text-center">...Pour continuer...</p>
                <div class="flex flex-col sm:flex sm:flex-row shadow-xl sm:justify-around  items-center">
                    <div class="flex flex-col mr-6 sm:text-xl items-center self-center">
                        <ul v-for="el in display_items.plats" :key="el.id" >
                            <li  class="mb-4">
                                {{el.name}}  <span class="mr-4 font-semibold" v-if="el.price != 0">{{el.price}}€</span>
                            </li>
                        </ul>
                    </div>
                    <img src="img_adresse.jpg" alt="Plat Canard sauce lavande" class="w-1/2 h-1/2 lg:w-1/3  lg:h-1/3 rounded  ">
                </div>
            </div>
            <!-- Desserts -->
            <div class="flex flex-col ">
                <p class="mt-4 mb-4 edwardian  text-7xl text-center ">...Pour finir....</p>
                <div class="flex flex-col sm:flex sm:flex-row shadow-xl sm:justify-around  items-center">
                    <img src="dessert4.jpg" alt="Mi cuit chocolat" class="w-1/2 h-1/2 lg:w-1/3  lg:h-1/3 rounded ">
                    <div class="flex flex-col ml-6 sm:text-xl items-center self-center">
                        <ul v-for="el in display_items.desserts" :key="el.id" >
                            <li  class="mb-4">
                                {{el.name}}  <span class="ml-4 font-semibold" v-if="el.price != 0">{{el.price}}€</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Autres Boisson-->
            <div class="flex flex-col mb-6">
                <p class="mt-4 mb-4 edwardian  text-7xl text-center ">...ou pas</p>
                <div class="flex flex-col sm:flex sm:flex-row shadow-xl sm:justify-around  items-center">
                    <div class="flex flex-col ml-6 sm:text-xl items-center self-center">
                        <ul v-for="el in display_items.other" :key="el.id" >
                            <li  class="mb-4">
                                {{el.name}}  <span class="ml-4 font-semibold">{{el.price}}€</span>
                            </li>
                        </ul>
                    </div>
                    <img src="coffee.jpg" alt="Mi cuit chocolat" class="w-1/2 h-1/2 lg:w-1/3  lg:h-1/3 rounded ">
                </div>
            </div>
        </div>
        <div v-if="childMenu">
          <!-- Options si définis dans le menu -->
          <div class="secondaryfont text-4xl text-semibold text-center mt-4">
            {{option}}
          </div>
        <!-- Entrees -->
        <div class="flex flex-col ">
            <p class="mt-4 mb-4 edwardian text-7xl text-center">Pour commencer...</p>
            <div class=" flex flex-col sm:flex sm:flex-row shadow-xl sm:justify-around  items-center">
                <img src="img_hours.jpg" alt="Entrée Tartar de saumon" class="w-1/2 h-1/2 lg:w-1/3  lg:h-1/3 rounded ">
                <div class="flex flex-col ml-6 sm:text-xl items-center self-center">
                    <ul v-for="el in display_items.entrees" :key="el.id" >
                        <li  class="mb-4">
                            {{el.name}}  <span class="ml-4 font-semibold" v-if="el.price != 0" >{{el.price}}€</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Plats -->
            <div class="flex flex-col ">
            <p class="mt-4 mb-4 edwardian text-7xl text-center">...Pour continuer...</p>
            <div class="flex flex-col sm:flex sm:flex-row shadow-xl sm:justify-around  items-center">
                <div class="flex flex-col mr-6 sm:text-xl items-center self-center">
                    <ul v-for="el in display_items.plats" :key="el.id" >
                        <li  class="mb-4">
                            {{el.name}}  <span class="mr-4 font-semibold" v-if="el.price != 0">{{el.price}}€</span>
                        </li>
                    </ul>
                </div>
                <img src="img_adresse.jpg" alt="Plat Canard sauce lavande" class="w-1/2 h-1/2 lg:w-1/3  lg:h-1/3 rounded  ">
            </div>
        </div>
        <!-- Desserts -->
        <div class="flex flex-col ">
            <p class="mt-4 mb-4 edwardian  text-7xl text-center ">...Pour finir....</p>
            <div class="flex flex-col sm:flex sm:flex-row shadow-xl sm:justify-around items-center">
                <img src="dessert4.jpg" alt="Mi cuit chocolat" class="w-1/2 h-1/2 lg:w-1/3  lg:h-1/3 rounded ">
                <div class="flex flex-col ml-6 sm:text-xl items-center self-center">
                    <ul v-for="el in display_items.desserts" :key="el.id" >
                        <li  class="mb-4">
                            {{el.name}}  <span class="ml-4 font-semibold" v-if="el.price != 0">{{el.price}}€</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            <!-- Autres Boisson-->
            <div class="flex flex-col mb-6">
                <p class="mt-4 mb-4 edwardian  text-7xl text-center ">..ou pas</p>
                <div class="flex flex-col sm:flex sm:flex-row shadow-xl sm:justify-around items-center">
                    <div class="flex flex-col ml-6 sm:text-xl items-center self-center">
                        <ul v-for="el in display_items.other" :key="el.id" >
                            <li  class="mb-4">
                                {{el.name}}  <span class="ml-4 font-semibold">{{el.price}}€</span>
                            </li>
                        </ul>
                    </div>
                    <img src="coffee.jpg" alt="Mi cuit chocolat" class="w-1/2 h-1/2 lg:w-1/3  lg:h-1/3 rounded ">
                </div>
            </div>
        </div>
    </div>
    </div>
</template>


<script>
import axios from 'axios';
export default {
  name:'CarteComponent',
  components: {

  },
    mounted(){

        this.getDisplayMenu();

    },
    data: function(){
    return{
            menu_id:null,
            option:null,
            menu_enfant:null,
            menu:null,
            types:null,
            childMenu:false,

            display_items:{
                entrees:[],
                plats:[],
                desserts:[],
                other:[]
            }
        }
    },
    methods:{
        async getDisplayMenu(){
                this.display_items={
                entrees:[],
                plats:[],
                desserts:[],
                other:[]
            }
            this.types = await axios.get('http://localhost:1337/type-de-plats')
            axios.get('http://localhost:1337/display-menus/1').then((resp)=> {
                this.menu_id = resp.data.id_menu
                
                console.log(this.menu_id)
                axios.get('http://localhost:1337/menus/'+this.menu_id).then((resp)=> {
                    this.menu = resp
                    this.option = resp.data.options        
                    for(let i =0; i< this.menu.data.plats.length; i++){
                        for(let y=0; y < this.types.data[0].plat.length; y++ ){
                            if(this.menu.data.plats[i].id == this.types.data[0].plat[y].id){
                                this.display_items.entrees.push(this.menu.data.plats[i])
                                
                                }
                            }
                        for(let y=0; y < this.types.data[1].plat.length; y++ ){
                            if(this.menu.data.plats[i].id == this.types.data[1].plat[y].id){
                                this.display_items.plats.push(this.menu.data.plats[i])
                            }
                        }
                        for(let y=0; y < this.types.data[2].plat.length; y++ ){
                            if(this.menu.data.plats[i].id == this.types.data[2].plat[y].id){
                                this.display_items.desserts.push(this.menu.data.plats[i])
                            }
                        }
                        for(let y=0; y < this.types.data[3].plat.length; y++ ){
                            if(this.menu.data.plats[i].id == this.types.data[3].plat[y].id){
                                this.display_items.other.push(this.menu.data.plats[i])
                            }
                        }
                    } 
                })           
            })
        },
        async getDisplayMenuEnfant(){
            this.display_items={
                entrees:[],
                plats:[],
                desserts:[],
                other:[]
            }
            this.childMenu = !this.childMenu
            this.types = await axios.get('http://localhost:1337/type-de-plats')
            axios.get('http://localhost:1337/display-menus/1').then((resp)=> {

                this.menu_enfant = resp.data.id_enfant
                
                console.log(this.menu_enfant)
                axios.get('http://localhost:1337/menus/'+this.menu_enfant).then((resp)=> {
                    this.menu = resp
                    this.option = resp.data.options        
                    for(let i =0; i< this.menu.data.plats.length; i++){
                        for(let y=0; y < this.types.data[0].plat.length; y++ ){
                            if(this.menu.data.plats[i].id == this.types.data[0].plat[y].id){
                                this.display_items.entrees.push(this.menu.data.plats[i])
                                
                                }
                            }
                        for(let y=0; y < this.types.data[1].plat.length; y++ ){
                            if(this.menu.data.plats[i].id == this.types.data[1].plat[y].id){
                                this.display_items.plats.push(this.menu.data.plats[i])
                            }
                        }
                        for(let y=0; y < this.types.data[2].plat.length; y++ ){
                            if(this.menu.data.plats[i].id == this.types.data[2].plat[y].id){
                                this.display_items.desserts.push(this.menu.data.plats[i])
                            }
                        }
                        for(let y=0; y < this.types.data[3].plat.length; y++ ){
                            if(this.menu.data.plats[i].id == this.types.data[3].plat[y].id){
                                this.display_items.other.push(this.menu.data.plats[i])
                            }
                        }
                    } 
                })           
            })
        },
    }
}
</script>
<style>
.edwardian{
  font-family: "Edwardian-Script";
  color: #5D328F;
}
.secondaryfont{
  font-family:"Champagne";
  
}
</style>