<template>
  <div>
    <!-- Partie Titre de la page -->
      <div class=" home flex flex-wrap flex-col justify-center content-center h-96 bg-center "  style="background-image: url(bg-home-1.jpg)" > 
        <div class="text-center ">
          <p class="edwardian-light font-medium text-8xl  " > Contatez Nous </p>
        </div>
        <div class="text-center">
          <p class="home-desc-light text-3xl "> Ecrivez nous un petit mot directement ci-dessous.</p>
        </div>
        <div class="bg-white  md:w-14 w-10 rounded-full mt-4 self-center">
          <img class="animate-bounce w-14" src="2079328.svg">
        </div>
      </div>
      <div class="flex flex-wrap justify-center border border-p-2 border-color-primary ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2554.849092170567!2d3.2502023514632596!3d50.18265781440423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2bc7cc9430f81%3A0x572499183a6b241c!2s53%20Rue%20de%20Naves%2C%2059400%20Cambrai!5e0!3m2!1sfr!2sfr!4v1615632772461!5m2!1sfr!2sfr" width="1600" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <!-- Partie Form de contact -->
      <div>
        <div class="flex flex-wrap flex-col justify-center items-center mt-2 ">
          <p class="edwardian-primary text-7xl">Ecrivez nous un message </p>
        <div class="mt-4 ">
          <form action="" class="flex flex-wrap flex-col items-center">
            <input  class=" border-color-primary border border-p-2 w-96 " type="text" placeholder="Votre prénom" v-model="name">
            <input  class=" border-color-primary border border-p-2 w-96 mt-2" type="text" placeholder="Votre Email" v-model="email">
            <input  class=" border-color-primary border border-p-2 w-96 h-40 mt-2 mb-4" type="text" placeholder="Votre Message" v-model="message">
            <button class=" hover-btn text-white btn-bck-primary home-desc-light text-2xl w-52 h-12 mb-4 " @click="submit()" >Envoyer le message </button>
          </form>
        </div>
        </div>
      </div>
  </div>
</template>

<script>
export default ({
    name:'ContactComponent',
    data: function() {
        return{
          form :{
          message:"",
          email:"",
          name:""
          }
        }
    },
})
</script>

<style>
.edwardian-primary{
  font-family: "Edwardian-Script";
  color: #5D328F;
}
.border-color-primary{
  border-color: #5D328F;
}
.btn-bck-primary{
  background-color: #5D328F;
}
.home-desc-light{
  font-family:"Champagne";
  color: white;
}
.hover-btn{
  border: solid 2px #5D328F;
}
.hover-btn:hover{
  border: solid 2px #5D328F;
  background-color: white;
  color: #5D328F;

}
</style>