<template>
    <div >
        <!-- Bouton retour -->
        <div class="flex flex-row secondaryBtn rounded ml-6 mt-6 rounded w-24 h-8 w-20 item">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
            <router-link to="/dashboard">
                <button>  Retour </button>
            </router-link>
        </div>
        <div class=" flex flex-col items-center mt-14" v-if="listplat">
            <h2 class="  text-4xl font-semibold" >Gestion des plats : </h2>
            <!-- Bouton Ajout d'un plat-->
                <button class="px-3 py-2 create-btn rounded w-36 mt-4 text-xl mb-6" @click=" listplat = !listplat">Créer un plat</button>
            <!-- Liste des plats existant -->
            <div class="flex flex-col w-5/6">
                <tr class="bg-primary flex justify-between text-white ">
                    <th class="w-2/3 p-3 text-left">Nom</th>
                    <th class=" w-1/3 p-3 text-left">Prix</th>
                    <th class=" w-1/3 p-3 text-left" width="110px">Actions</th>
                </tr>
                <ul>
                    <li v-for="item in plats" :key="item.id">
                        <tr class="flex flex-row flex-no-wrap  ">
                            <td class="w-2/3 border-grey-light border hover:bg-gray-100 p-3">{{item.name}}</td>
                            <td class="w-1/3 text-center border-grey-light border hover:bg-gray-100 p-3 truncate">{{item.price}}€</td>
                            <td class="w-1/3 text-right border-grey-light border hover:bg-gray-100 p-3 text-blue-400 hover:text-blue-600 hover:font-medium cursor-pointer" @click="editPlat(item.id)" >Modifier</td>
                            <td class="w-1/3 text-right border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer" @click="showModal(item.id, item.name)" >Supprimer</td>
                        </tr>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Formulaire de d'ajout d'un plat -->
        <div v-if="!listplat">
            <p class="text-center font-semibold text-4xl mb-8">Création d'un plat</p>
            <form class="flex flex-row justify-center">
                <label  for="nom-plat" class="mr-2 text-lg">Nom</label>
                <input v-model="form.platname" class=" mr-4 px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" id="nom-plat" type="text">
                <label for="prix-plat" class="mr-2 text-lg" >Prix :</label>
                <input v-model="form.platprice" class=" w-12 mr-4 px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" id="prix-plat" type="text">
                <label for="type-plat" class="mr-2 text-lg" >Type : </label>
                <select v-model="form.plattype" class="mr-2 form-select mt-1 block " id="type-plat" type="select">
                    <option v-for="item in types" :key="item.id" > {{item.type}}</option>
                </select>
            </form>
            <div class=" mt-6 flex justify-center" v-if="btnTypeSave">
                <button class="px-3 py-2 secondaryBtn mr-4 rounded w-44 font-semibold" @click="createPlat(0)">Créer un autre plat</button>
                <button class="create-btn rounded w-24 font-semibold" @click="createPlat(1)">Terminer </button>
            </div>
            <div class=" mt-6 flex justify-center" v-if="!btnTypeSave">
                <button class="create-btn rounded w-48 font-semibold" @click="updatePlat()">Modifier le plat </button>
            </div>
        </div>
        <!-- Modal validate deleting -->
        <modal name="deletePlat"
                :width="300"
                :height="150"
                :adaptative="true"
        >
        <div class="flex flex-col items-center">
            <p class="mt-6">Supprimer définitivement ce plat ?</p> 
                <p class="mt-2 font-semibold">{{deleteItem}}</p>
            <div class="mt-8 flex justify-center">
            <button class="mr-4 create-btn rounded" @click="hideModal()">Annuler</button>
            <button class="create-btn rounded" @click="deletePlat(deleteID)">Confirmer</button>
            </div>
        </div>
        </modal>
    </div>

</template>
<script>
import axios from 'axios';
// import { getPlats,  getTypes } from "/src/apiService.js"
export default {
    name: 'DashPlatsComponent',
    mounted(){
        this.getPlats()
        this.getTypes()

    },
    data(){
        return{
            //Champs ou alert visibile ou non 
            listplat:true,
            returnMessage: false,
            btnTypeSave:true,
            
            //Données 
            plats:null, 
            types:null,
            deleteMessage:null,
            deleteItem:null,
            deleteID:null,
            idPlat:null,

            //Champ formulaire création d'un plat 
            idType:null,
            form:{          
                platname:null,
                platprice:null,
                plattype:null
            },
        }
    },
    methods:{
        showModal(id,item) {
            this.$modal.show('deletePlat');
            this.deleteItem =item;
            this.deleteID = id;
        },
        hideModal(){
            this.$modal.hide('deletePlat');
        },
        async deletePlat(id){
            this.$modal.hide('deletePlat');
            const { data } = await axios.delete('http://localhost:1337/plats/'+id, {
            headers: {
                Authorization:
                    'Bearer ' +localStorage.jwtToken,
                },
            });
            if(data){
                this.$notify({ type: 'success', text: data.name + ' à été supprimé avec succés !'  })
            this.getPlats();
            }else{
                this.$notify({ type: 'error', text: 'Erreur lors de la suppression !'  })
            }
        },
        createPlat(done){
            switch(this.form.plattype){
                case 'Entree':
                    this.idType = 1
                    break;
                case 'Plat':
                    this.idType = 2
                    break;
                case 'Dessert':
                    this.idType = 3
                    break;
                case 'Boisson/Autres':
                    this.idType = 4
                    break;
            }

                console.log('Bearer ' +localStorage.jwtToken)

                    axios.post('http://localhost:1337/plats',  {
                    headers: {
                        Authorization:
                            'Bearer ' +localStorage.jwtToken
                        },
                        name: this.form.platname,
                        price: this.form.platprice,
                        type_de_plats:[{
                            id: this.idType,
                            type:this.form.plattype
                        }]
                        }).then((resp)=>{
                            if(done === 1 ){
                            console.log(resp)
                            this.listplat = !this.listplat
                            this.$notify({ type: 'success', text: 'Plat créé avec succès'  })
                            this.getPlats()
                            }
                            if(done === 0){
                            console.log(resp)
                                this.form = {          
                                    platname:null,
                                    platprice:null,
                                    plattype:null
                                }
                            }
                        }).catch((error)=>{
                            window.alert(error);
                        });
        },
        editPlat(id){
            axios.get('http://localhost:1337/plats/'+id).then((resp)=>{
                console.log(resp)
                this.listplat= !this.listplat

                this.form.platname = resp.data.name
                this.form.platprice = resp.data.price
                this.idPlat = resp.data.id
                
                this.btnTypeSave = !this.btnTypeSave
            })
        },
        updatePlat(){
            switch(this.form.plattype){
                case 'Entree':
                    this.idType = 1
                    break;
                case 'Plat':
                    this.idType = 2
                    break;
                case 'Dessert':
                    this.idType = 3
                    break;
                case 'Boisson':
                    this.idType = 4
                    break;
            }

            axios.put('http://localhost:1337/plats/'+this.idPlat,  {
                    headers: {
                        Authorization:
                            'Bearer ' +localStorage.jwtToken
                        },
                        name: this.form.platname,
                        price: this.form.platprice,
                        type_de_plats:[{
                            id: this.idType,
                            type:this.form.plattype
                        }]
                        }).then((resp)=>{
                            console.log(resp)
                            this.listplat = !this.listplat
                            this.getPlats()
                            this.$notify({ type: 'success', text: 'Plat modifié avec succès'  })
                        }).catch((error)=>{
                            window.alert(error);
                        });
        },

        //Récupération des données au chargement de la page 
        getPlats(){
            axios.get('http://localhost:1337/plats').then((resp)=> {
                this.plats = resp.data
            })
        },
        getTypes(){
            axios.get('http://localhost:1337/type-de-plats').then((resp)=> {
                this.types = resp.data
            })
        },
        
    }

}
</script>


<style>
.secondaryfont{
    font-family:"Champagne";

}
.bg-primary{
    background-color: #5D328F;
}
.edwardian{
    font-family: "Edwardian-Script";
    color: #060709;
}
.create-btn:hover{
    background-color: white;
    color: black;
    
}
.cancel:hover{
    border: solid 2px #5D328F ;
}
.create-btn{
    background-color: #5D328F;
    color: white;
    border: 2px solid #5D328F;
}

.secondaryBtn:hover{
    background-color: #5D328F;
    color: white;
}
.secondaryBtn{
    background-color: white;
    color: black;
}
.add-field{
    border: solid 2px #5D328F;
    color: black;
}
.add-field:hover{
    background: #5D328F;
    border: solid 2px #5D328F;
    color: white;
}
@media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }
</style>