<template>
    <div>
      <div class="font-sans antialiased h-screen">
  <!-- Top Navigation -->
  <header class="fixed z-50 h-16 w-full bg-grey-darker shadow flex items-center justify-between">
    <div class="flex items-center h-full">
        <div class="flex items-center text-center h-full w-48 border-r border-grey-dark">
            <img class="w-full text-black text-sm uppercase font-extrabold" src="logo-login.png"/>
        </div>
    </div>
    <div class="flex items-center h-full text-sm">
        <div class="flex items-center h-full">
            <button class="flex items-center h-full px-4  hover-nav-item " @click="logout()">Se deconnecter</button>
        </div>
    </div>
  </header>
  <div id="main" class="pt-16">
    <!-- Sidebar -->
    <div class="bg-grey-darkest relative h-full min-h-screen">
      <div class="xl:py-2">
        <div  class="cursor-pointer group relative sidebar-item with-children">
          <a class="block xl:flex xl:items-center text-center xl:text-left shadow-light xl:shadow-none py-6 xl:py-2 xl:px-4 border-l-4 border-transparent hover-nav-item">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-6 w-6 text-grey-darker fill-current xl:mr-2"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" class="heroicon-ui"></path></svg>
            <div class=" text-sm">Accueil</div>
          </a>
        </div>
        <router-link to="/platsdashboard" ><div  class=" cursor-pointer group relative sidebar-item with-children hover:text-white">
          <a  class="block xl:flex xl:items-center text-center xl:text-left shadow-light xl:shadow-none py-6 xl:py-2 xl:px-4 border-l-4 border-transparent hover-nav-item ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-6 w-6 text-grey-darker fill-current xl:mr-2"><path  d="M6 3a1 1 0 011-1h.01a1 1 0 010 2H7a1 1 0 01-1-1zm2 3a1 1 0 00-2 0v1a2 2 0 00-2 2v1a2 2 0 00-2 2v.683a3.7 3.7 0 011.055.485 1.704 1.704 0 001.89 0 3.704 3.704 0 014.11 0 1.704 1.704 0 001.89 0 3.704 3.704 0 014.11 0 1.704 1.704 0 001.89 0A3.7 3.7 0 0118 12.683V12a2 2 0 00-2-2V9a2 2 0 00-2-2V6a1 1 0 10-2 0v1h-1V6a1 1 0 10-2 0v1H8V6zm10 8.868a3.704 3.704 0 01-4.055-.036 1.704 1.704 0 00-1.89 0 3.704 3.704 0 01-4.11 0 1.704 1.704 0 00-1.89 0A3.704 3.704 0 012 14.868V17a1 1 0 001 1h14a1 1 0 001-1v-2.132zM9 3a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1zm3 0a1 1 0 011-1h.01a1 1 0 110 2H13a1 1 0 01-1-1z" class="heroicon-ui"></path></svg>
            <div class="text-sm ">Mes plats</div>
          </a>
        </div>
        </router-link>
        <router-link to="/editmenus" ><div  class=" cursor-pointer group relative sidebar-item with-children hover:text-white">
          <a  class="block xl:flex xl:items-center text-center xl:text-left shadow-light xl:shadow-none py-6 xl:py-2 xl:px-4 border-l-4 border-transparent hover-nav-item ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-6 w-6 text-grey-darker fill-current xl:mr-2"><path  d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" class="heroicon-ui"></path></svg>
            <div class="text-sm ">Mes menus</div>
          </a>
        </div>
        </router-link>
      </div>
    </div>
    
    <!-- Content -->
    <div class="bg-white h-full pt-8">
        <div class="text-center w-full text-grey-darkest">
            <div >
                <DashHomeComponent/>
            </div>
        </div>
  </div>
</div>
      </div>
    </div>
</template>
<script>
import DashHomeComponent from '../components/DashHomeComponent.vue'

export default {
  name:'DashboardComponent',
  components:{
      DashHomeComponent,
  },
  mounted: function(){
    console.log("Est connecté : ", localStorage.jwtToken )
  },
  data(){
    return{
    tabSelected:true,
    }
    },
    methods:{
        logout(){
            localStorage.clear()
            this.$router.push("/login")
        }
  },
}
</script>
<style>
.color-primary{
    background-color: #5D328F;
}
.hover-nav-item:hover{
    background-color: #5D328F;
    color: white;
}
.hover-nav-item{
    background-color: white;
    color: black;
}
/*
 * We'll use CSS grids for the base template
 * More info on https://cssgrid.io/ by @wesbos
 */
#main {
  display: grid;
  grid-template-columns: 6rem auto;
  /* Or grid-template-columns: config('width.24') auto; */
}

@media (min-width: 1200px) { 
/* Or @media (min-width: config('screens.xl')) { */
  
  #main { grid-template-columns: 12rem auto; }
  /* Or #main { grid-template-columns: config('width.48') auto; } */
}

a {
  text-decoration: none;
  /* Or @apply .no-underline; */
}

/* Just a new padding size */
.pt-16 {
  padding-top: 4rem;
}

/*
 * Just some customized new utilities needed for the submenus
 * Add this before
 */
.top-full { top: 100%; }
.left-full { left: 100%; }

/*
 * This hacks is just needed in Codepen because the previous rules are prioritary to xl:pin-none.
 * In your own config this should not be needed.
 */

@media (min-width: 1200px) {
  .xl\:pin-none { left: auto; }
}

/* 
 * Active "group-hover" for the "display" module in your
 * tailwind.js config file like this:
 * 
 * display: ['responsive', 'group-hover']
 *
 * More info on https://tailwindcss.com/docs/state-variants/#group-hover
 */
.group:hover .group-hover\:block {
  display: block;
}
</style>