<template>
    <div>
        <!-- Accueil de l'édition  -->
        <div class="flex flex-row delete-field ml-6 mt-6 rounded w-24 h-8 item" v-if="homeEdit">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
            <router-link to="/dashboard">
                <button>  Retour </button>
            </router-link>
        </div>
        <div class=" flex flex-col items-center mt-14" v-if="homeEdit">
            <h2 class="  text-4xl font-semibold" >Bienvenue sur l'édition des menus : </h2>
            <p class="mt-6 text-lg" >Mes Menus exitants : </p>
            <!-- Bouton Ajout d'un plat-->
                <button class="px-3 py-2 create-btn rounded w-62 mt-4 text-xl mb-6" @click="homeEdit =!homeEdit" >Créer un nouveau Menu</button>
            <!-- Liste des plats existant -->
            <div class="flex flex-col w-5/6">
                <tr class="bg-primary flex justify-between text-white ">
                    <th class="w-2/3 p-3 text-left">Nom</th>
                    <th class=" w-1/3 p-3 text-left" width="110px">Actions</th>
                </tr>
                <ul>
                    <li v-for="item in menus" :key="item.id">
                        <tr class="flex flex-row flex-no-wrap  ">
                            <td class="w-2/3 border-grey-light border hover:bg-gray-100 p-3">{{item.name}}</td>
                            <td class="w-1/3 text-right border-grey-light border hover:bg-gray-100 p-3 text-blue-400 hover:text-blue-600 hover:font-medium cursor-pointer" @click="editMenu(item.id)" >Modifier</td>
                            <td class="w-1/3 text-right border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer" @click="showRemoveModal(item.id, item.name)" >Supprimer</td>
                        </tr>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Formulaire de création de d'un Menu -->
        <div  v-if="!homeEdit">
            <form class="flex flex-col items-center" >
                <h2 class="text-4xl font-semibold mt-6 secondaryfont ">Création d'un Menu : </h2>
                <!-- Partie Nom du Menu -->
                <div class="mt-20 text-center text-xl font-semibold">
                    <label for="menu-name " >Nom du Menu</label>
                    <input v-model="form.menuName" id="menu-name"  type="text"  required class="appearance-none rounded-none relative block w-96 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-purple-700 focus:z-10 sm:text-sm" placeholder="Exemple : Menu Avril 2021">
                </div>
                <!-- Partie Option du Menu -->
                <div class="mt-6 text-center text-xl font-semibold">
                    <label for="menu-option " >Option(s) <span class="text-gray-400 italic text-base">(facultatif)</span></label>
                    <input v-model="form.option" id="menu-option"  type="text"  class="appearance-none rounded-none relative block w-96 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-purple-700 focus:z-10 sm:text-sm" placeholder="Exemple : Entrée + Plat ou Plat + Déssert : 32€">
                </div>
                <!-- Partie Entree-->
                <p class="mt-4 mb-4 edwardian text-6xl">Pour commencer...</p>
                <div class="flex flex-wrap justify-center ">
                    <div class="w-96  mb-4 mr-6 bg-gray-200 text-center border border-p-2 border-gray-300 shadow-xl rounded">
                        <p>Entrées du Menu : </p>
                        <draggable class="list-group flex flex-wrap justify-center" group="people" :list="readyEntrees" @change="log">
                            <div class="list-group-item item w-72 mb-2  rounded cursor-move  " v-for="element in readyEntrees" :key="element.id">
                                    {{element.name}}
                            </div>
                        </draggable>
                    </div>
                    <div  class=" w-96  mb-4 bg-gray-200 text-center border border-p-2 border-gray-300 shadow-xl rounded" >
                        <p>Entrées disponible : </p>
                        <draggable  class="list-group flex flex-wrap justify-center" group="people" :list="entrees" >
                            <div class="list-group-item flex justify-center item w-72  mb-2 rounded cursor-move" v-for="(element) in entrees" :key="element.id">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="self-center h-8 w-8 text-purple-300 fill-current xl:mr-2"><path d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z" class="heroicon-ui"></path></svg>
                                {{element.name}} 
                            </div>
                        </draggable>
                    </div>
                </div>
                <!-- Partie Plat-->
                <p class="mt-4 mb-4 edwardian text-6xl">...Pour continuer...</p>
                <div class="flex flex-wrap justify-center ">
                    <div class="w-96  mb-4 mr-6 bg-gray-200 text-center border border-p-2 border-gray-300 shadow-xl rounded">
                        <p>Plats du Menu : </p>
                        <draggable class="list-group flex flex-wrap justify-center" group="people" :list="readyPlats" @change="log">
                            <div class="list-group-item item w-72 mb-2  rounded cursor-move  " v-for="element in readyPlats" :key="element.id">
                                    {{element.name}}
                            </div>
                        </draggable>
                    </div>
                    <div  class=" w-96  mb-4 bg-gray-200 text-center border border-p-2 border-gray-300 shadow-xl rounded" >
                        <p>Plats disponible : </p>
                        <draggable  class="list-group flex flex-wrap justify-center" group="people" :list="plats" >
                            <div class="list-group-item flex justify-center item w-72 mb-2 rounded cursor-move" v-for="(element) in plats" :key="element.id">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="self-center h-8 w-8 text-purple-300 fill-current xl:mr-2"><path d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z" class="heroicon-ui"></path></svg>
                                {{element.name}} 
                            </div>
                        </draggable>
                    </div>
                </div>
                <!-- Partie Dessert-->
                <p class="mt-4 mb-4 edwardian text-6xl">...Pour finir...</p>
                <div class="flex flex-wrap justify-center ">
                    <div class="w-96  mb-4 mr-6 bg-gray-200 text-center border border-p-2 border-gray-300 shadow-xl rounded">
                        <p>Désserts du Menu : </p>
                        <draggable class="list-group flex flex-wrap justify-center" group="people" :list="readyDesserts" @change="log">
                            <div class="list-group-item item w-72 mb-2 rounded cursor-move  " v-for="element in readyDesserts" :key="element.id">
                                    {{element.name}}
                            </div>
                        </draggable>
                    </div>
                    <div  class=" w-96  mb-4 bg-gray-200 text-center border border-p-2 border-gray-300 shadow-xl rounded" >
                        <p>Désserts disponible : </p>
                        <draggable  class="list-group flex flex-wrap justify-center" group="people" :list="desserts" >
                            <div class="list-group-item flex justify-center item w-72 mb-2 rounded cursor-move" v-for="(element) in desserts" :key="element.id">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="self-center h-8 w-8 text-purple-300 fill-current xl:mr-2"><path d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z" class="heroicon-ui"></path></svg>
                                {{element.name}} 
                            </div>
                        </draggable>
                    </div>
                </div>
                <!-- Partie Boisson-->
                <p class="mt-4 mb-4 edwardian text-6xl">Ou pas</p>
                <div class="flex flex-wrap justify-center ">
                    <div class="w-96  mb-4 mr-6 bg-gray-200 text-center border border-p-2 border-gray-300 shadow-xl rounded">
                        <p>Boisson/Autre(s) du Menu : </p>
                        <draggable class="list-group flex flex-wrap justify-center" group="people" :list="readyOther" @change="log">
                            <div class="list-group-item item w-72 mb-2 rounded cursor-move  " v-for="element in readyOther" :key="element.id">
                                    {{element.name}}
                            </div>
                        </draggable>
                    </div>
                    <div  class=" w-96  mb-4 bg-gray-200 text-center border border-p-2 border-gray-300 shadow-xl rounded" >
                        <p>Boisson/Autre(s) disponible : </p>
                        <draggable  class="list-group flex flex-wrap justify-center" group="people" :list="other" >
                            <div class="list-group-item flex justify-center item w-72 mb-2 rounded cursor-move" v-for="(element) in other" :key="element.id">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="self-center h-8 w-8 text-purple-300 fill-current xl:mr-2"><path d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z" class="heroicon-ui"></path></svg>
                                {{element.name}} 
                            </div>
                        </draggable>
                    </div>
                </div>
                <!-- Validation Button -->
                <div  class=" mt-12 mb-24 flex space-x-4  " v-if="typesbtn">
                    <router-link to="/dashboard"><button class="rounded w-24 text-xl cancel">Annuler</button> </router-link> 
                    <button class="create-btn rounded w-32 text-xl" @click="showLoadModal()">Enregistrer</button>
                </div>
                <div  class=" mt-12 mb-24 flex space-x-4 " v-if="!typesbtn">
                    <router-link to="/dashboard"><button class="rounded w-24 text-xl cancel">Annuler</button> </router-link> 
                    <button class="create-btn rounded w-48 text-xl" @click="updateMenu()">Modifier le Menu</button>
                </div>
            </form>
        </div>
        <!-- Modal de suppression d'un Menu -->
        <modal name="deleteMenu"
                :width="300"
                :height="150"
                :adaptative="true"
        >
        <div class="flex flex-col items-center">
            <p class="mt-6">Supprimer définitivement ce Menu ?</p> 
                <p class="mt-2 font-semibold">{{deleteItem}}</p>
            <div class="mt-8 flex justify-center">
            <button class="mr-4 create-btn rounded" @click="hideRemoveModal()">Annuler</button>
            <button class="create-btn rounded" @click="deleteMenu(deleteId)">Confirmer</button>
            </div>
        </div>
        </modal>
        <!-- Modal loading -->
        <modal name="loadingModal"
                :width="300"
                :height="150"
                :adaptative="true"
        >
            <div class="flex flex-col items-center">
                <fulfilling-square-spinner
                class="mt-6"
                    :animation-duration="2000"
                    :size="50"
                    color="#5D328F"
                />
               <p class="mt-2 loading-text secondaryfont text-2xl">Création du menu...</p> 
            </div>
        </modal>
    </div>
</template>
<script>
import axios from 'axios';
import draggable from 'vuedraggable'
import { FulfillingSquareSpinner  } from 'epic-spinners'
export default {
    name: 'DashEditMenu',
    components:{
        draggable,
        FulfillingSquareSpinner
    },
    data(){
        return{

            homeEdit:true,

            menus:null,
            entrees:null,
            plats:null,
            desserts:null,
            other:null,
            deleteItem:null,
            deleteId:null,
            menuDetails:null,
            types:null,
            updateID:null,
            typesbtn:true,

//Champ finaux a envoyer au back une fois le formulaire terminé
            readyEntrees: [{
                created_at:null,
                name:null,
                price:null,
                published_at: null,
                updated_at:null
            }],

            readyPlats: [{
                created_at:null,
                name:null,
                price:null,
                published_at: null,
                updated_at:null
            }],
            readyDesserts: [{
                created_at:null,
                name:null,
                price:null,
                published_at: null,
                updated_at:null
            }],
            readyOther: [{
                created_at:null,
                name:null,
                price:null,
                published_at: null,
                updated_at:null
            }],

            defaultOccurrence: 1,
            //Champ du formulaire de création des Menus
            form:{
                menuName:null,
                option:null,
                all_plats:[],
            },

        }
    },
    mounted(){
        this.getMenus();
        this.getPlats();
        this.getEntrees();
        this.getDesserts();
        this.getOther();
        console.log("other",this.other)
        
    },
    methods:{

        showRemoveModal(id, name){
            this.$modal.show('deleteMenu');
            this.deleteItem = name
            this.deleteId=id
        },
        async deleteMenu(id){
            this.$modal.hide('deleteMenu');
            const { data } = await axios.delete('http://localhost:1337/menus/'+id, {
            headers: {
                Authorization:
                    'Bearer ' +localStorage.jwtToken,
                },
            });
            if(data){
                this.$notify({ type: 'success', text: data.name + ' à été supprimé avec succés !'  })
            this.getMenus();
            }else{
                this.$notify({ type: 'error', text: 'Erreur lors de la suppression !'  })
            }
        },
        hideRemoveModal(){
            this.$modal.hide('deleteMenu');
        },
        hideLoadModal(){
            this.$modal.hide('loadingModal');
        },
        makeForm(){
                if(this.form.menuName){

                this.$modal.show('loadingModal');

                for(let i=0; i< this.readyEntrees.length; i++){
                    if(this.readyEntrees[i].id == null){
                        this.readyEntrees.splice(i, 1);
                        i--;
                    }
                    this.form.all_plats.push(this.readyEntrees[i])
                }
                for(let i=0; i< this.readyPlats.length; i++){
                    if(this.readyPlats[i].id == null){
                        this.readyPlats.splice(i, 1);
                        i--;
                    }
                    this.form.all_plats.push(this.readyPlats[i])
                }
                for(let i=0; i< this.readyDesserts.length; i++){
                    if(this.readyDesserts[i].id == null){
                        this.readyDesserts.splice(i, 1);
                        i--;
                    }
                    this.form.all_plats.push(this.readyDesserts[i])
                }
                for(let i=0; i< this.readyOther.length; i++){
                    if(this.readyOther[i].id == null){
                        this.readyOther.splice(i, 1);
                        i--;
                    }
                    this.form.all_plats.push(this.readyOther[i])
                }
            }
        },
        showLoadModal() {
            if(this.form.menuName){

                this.$modal.show('loadingModal');

                for(let i=0; i< this.readyEntrees.length; i++){
                    if(this.readyEntrees[i].id == null){
                        this.readyEntrees.splice(i, 1);
                        i--;
                    }
                    this.form.all_plats.push(this.readyEntrees[i])
                }
                for(let i=0; i< this.readyPlats.length; i++){
                    if(this.readyPlats[i].id == null){
                        this.readyPlats.splice(i, 1);
                        i--;
                    }
                    this.form.all_plats.push(this.readyPlats[i])
                }
                for(let i=0; i< this.readyDesserts.length; i++){
                    if(this.readyDesserts[i].id == null){
                        this.readyDesserts.splice(i, 1);
                        i--;
                    }
                    this.form.all_plats.push(this.readyDesserts[i])
                }
                for(let i=0; i< this.readyOther.length; i++){
                    if(this.readyOther[i].id == null){
                        this.readyOther.splice(i, 1);
                        i--;
                    }
                    this.form.all_plats.push(this.readyOther[i])
                }
                this.save()
                    
            }
        },
        async editMenu(id){
            this.updateID = id
            this.homeEdit= !this.homeEdit
            this.typesbtn = !this.typesbtn
            this.menuDetails = await axios.get('http://localhost:1337/menus/'+id)
            this.form.menuName = this.menuDetails.data.name
            this.form.option = this.menuDetails.data.options
            this.types = await axios.get('http://localhost:1337/type-de-plats')

            for(let i =0; i< this.menuDetails.data.plats.length; i++){
                for(let y=0; y < this.types.data[0].plat.length; y++ ){
                        if(this.menuDetails.data.plats[i].id == this.types.data[0].plat[y].id){
                            this.readyEntrees.push(this.menuDetails.data.plats[i])
                        }
                }
                for(let y=0; y < this.types.data[1].plat.length; y++ ){
                        if(this.menuDetails.data.plats[i].id == this.types.data[1].plat[y].id){
                            this.readyPlats.push(this.menuDetails.data.plats[i])
                        }
                }
                for(let y=0; y < this.types.data[2].plat.length; y++ ){
                        if(this.menuDetails.data.plats[i].id == this.types.data[2].plat[y].id){
                            this.readyDesserts.push(this.menuDetails.data.plats[i])
                        }
                }
                for(let y=0; y < this.types.data[3].plat.length; y++ ){
                        if(this.menuDetails.data.plats[i].id == this.types.data[3].plat[y].id){
                            this.readyOther.push(this.menuDetails.data.plats[i])
                        }
                }
            }

            console.log("Menu ", this.menuDetails.data.plats)
            console.log("Types ", this.types)
        },
        updateMenu(){
            this.makeForm()
            axios.put('http://localhost:1337/menus/'+this.updateID,  {
                    headers: {
                        Authorization:
                            'Bearer ' +localStorage.jwtToken,
                        },
                        name: this.form.menuName,
                        options: this.form.option,
                        plats:this.form.all_plats
                        }).then((resp)=>{
                            this.hideLoadModal()
                            console.log(resp)
                            this.$notify({ type: 'success', text: 'Menu enregistré avec succes'  })
                            location.reload()
                        }).catch((error)=>{
                            window.alert(error);
                        });            
        },
        save(){
            
            axios.post('http://localhost:1337/menus',  {
                    headers: {
                        Authorization:
                            'Bearer ' +localStorage.jwtToken,
                        },
                        name: this.form.menuName,
                        options: this.form.option,
                        plats:this.form.all_plats
                        }).then((resp)=>{
                            this.hideLoadModal()
                            console.log(resp)
                            this.$notify({ type: 'success', text: 'Menu enregistré avec succes'  })
                            location.reload()
                        }).catch((error)=>{
                            window.alert(error);
                        });  
        },
        getEntrees(){
            axios.get('http://localhost:1337/type-de-plats/1').then((resp)=> {
                this.entrees = resp.data.plat
            })
        },
        getMenus(){ 
            axios.get('http://localhost:1337/menus').then((resp)=> {
                this.menus = resp.data
            })
        },
        getPlats(){
            axios.get('http://localhost:1337/type-de-plats/2').then((resp)=> {
                this.plats = resp.data.plat
            })
        },
        getDesserts(){
            axios.get('http://localhost:1337/type-de-plats/3').then((resp)=> {
                this.desserts = resp.data.plat
            })
        },
        getOther(){
            axios.get('http://localhost:1337/type-de-plats/4').then((resp)=> {
                this.other = resp.data.plat
            })
        },

        log: function(evt) {
            console.log(evt);
    }
    }

}
</script>


<style>
.bg-primary{
    background-color: #5D328F;
}
.secondaryfont{
  font-family:"Champagne";
  
}
.edwardian{
  font-family: "Edwardian-Script";
  color: #060709;
}
.create-btn:hover{
    background-color: white;
    color: black;
}
.loading-text{
    color:#5D328F;
}
.cancel:hover{
    border: solid 2px #5D328F ;
}
.create-btn{
    background-color: #5D328F;
    color: white;
    border: 2px solid #5D328F;
}

.delete-field:hover{
    background-color: #5D328F;
    color: white;
}
.delete-field{
    background-color: white;
    color: black;
}
.add-field{
    border: solid 2px #5D328F;
    color: black;
}
.add-field:hover{
    background: #5D328F;
    border: solid 2px #5D328F;
    color: white;
}
.item{
 border: solid 2px  #5D328F
}
</style>