<template>
    <div>
        <div class=" flex flex-col items-center mt-14" v-if="homeEdit">
            <h2 class="  text-4xl font-semibold" >Bienvenue sur l'espace de Gestion : </h2>
            <p class="mt-6 text-lg" >L'espace de gestion permet de créer les cartes et les plats à afficher sur le site </p>
            <p class="mt-6 text-lg" >Carte publié  : </p>
            <!-- Liste des plats existant -->
            <div class="flex flex-col w-5/6">
                <tr class="bg-primary flex justify-between text-white ">
                    <th class="w-2/3 p-3 text-left">Nom</th>
                    <th class=" w-1/3 p-3 text-left" width="110px">Actions</th>
                </tr>
                <ul>
                    <li v-for="item in menus" :key="item.id">
                        <tr class="flex flex-row flex-no-wrap  ">
                            <td class="w-2/3 border-grey-light border hover:bg-gray-100 p-3">{{item.name}}</td>
                            <td v-if="item.id != menu_id" class="w-1/3 text-right border-grey-light border hover:bg-gray-100 p-3 text-green-400 hover:text-green-600 hover:font-medium cursor-pointer" @click="publishMenu(item.id)" >Publier</td>
                            <td v-if="item.id != menu_enfant" class="w-1/3 text-right border-grey-light border hover:bg-gray-100 p-3 text-green-400 hover:text-green-600 hover:font-medium cursor-pointer" @click="publishchild(item.id)" >Publier le Menu enfant</td>
                            <td v-if="item.id == menu_id" class="w-1/3 text-right border-grey-light border hover:bg-gray-100 p-3 text-blue-400  hover:font-medium " >En Ligne</td>
                            <td v-if="item.id == menu_enfant" class="w-1/3 text-right border-grey-light border hover:bg-gray-100 p-3 text-blue-400  hover:font-medium " >En Ligne (Menu enfant)</td>
                        </tr>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
export default {
    name: 'DashHomeComponent',
    data: function(){
    return{
            menus:null,
            homeEdit:true,
            menu_id:null,
            menu_enfant:null,
            isOnline:false
        }
    },
    mounted(){
        this.getMenus();
        this.getDisplayMenu();
        
    },
    methods:{
        getMenus(){ 
            axios.get('http://localhost:1337/menus').then((resp)=> {
                this.menus = resp.data
            })
        },
        getDisplayMenu(){
            axios.get('http://localhost:1337/display-menus/1').then((resp)=> {
            this.menu_id = resp.data.id_menu
            this.menu_enfant = resp.data.id_enfant
        })
        },
        publishMenu(idMenu){
            axios.put('http://localhost:1337/display-menus/1',{
                    headers: {
                        Authorization:
                            'Bearer ' +localStorage.jwtToken
                        },
                        id_menu: idMenu
                        }).then((resp)=>{
                            console.log(resp)
                            this.$notify({ type: 'success', text: 'Menu publié avec succès'  })
                            this.getDisplayMenu();
                        }).catch((error)=>{
                            window.alert(error);
                        });
        },
        publishchild(idMenu){
            axios.put('http://localhost:1337/display-menus/1',{
                    headers: {
                        Authorization:
                            'Bearer ' +localStorage.jwtToken
                        },
                        id_enfant: idMenu
                        }).then((resp)=>{
                            console.log(resp)
                            this.$notify({ type: 'success', text: 'Menu publié avec succès'  })
                            this.getDisplayMenu();
                        }).catch((error)=>{
                            window.alert(error);
                        });
        }
}


}
</script>


<style>
.bg-primary{
    background-color: #5D328F;
}

</style>