<template>
    <div>
        <footer class="footer bg-theme  pt-1 border-b-2 border-primary-color">
    <div class="container mx-auto px-6">

        <div class="sm:flex sm:mt-6">
            <div class="mt-6 sm:mt-0 sm:w-full sm:px-8 flex flex-col  justify-between md:flex-row">

                <div class="flex flex-col">
                    <span class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Restaurant les Amoureux</span>
                    <span class="my-2"><a href="#" class="primary-theme-color text-md ">53 Rue de Naves – 59400 Cambrai</a></span>
                    <span class="my-2"><a href="#" class="primary-theme-color  text-md ">contact@restaurant-les-amoureux.fr</a></span>
                    <router-link to="/legal"><span class="my-2"><a href="#" class="primary-theme-color text-md hover:text-white">Mentions légales</a></span></router-link>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Notre page Facebook</span>
                    <span class="my-2"><a href="https://www.facebook.com/Restaurant-Les-Amoureux-392090458261360" target="_blank" class="primary-theme-color text-md "><img class="w-10 photo-hover" src="facebook_logo.png"></a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-12 border-t-2 border-gray-300 flex flex-col items-center">
            <div class="sm:w-1/3 text-center py-6">
                <p class="text-sm primary-theme-color font-bold mb-2">
                    © 2021 développé par <a class="hover:text-white" href="http://nicolasdelcourt.fr " target="_blank">Nicolas </a>
                </p>
            </div>
        </div>
    </div>
</footer>
    </div>
</template>
<script>

export default {
    name: 'Footer',
    data: function(){
    return{
    
    }
},


}
</script>


<style>
.primary-theme-color{
    color:#5D328F;
}
.bg-theme{
    background-color: #060709;
}
.border-primary-color{
    border-bottom-color: #5D328F;
}

</style>