<template>
    <div class="all-page overflow-y-hidden">
      <!-- Titre et sous titre avec fond -->
      <div class=" home flex flex-wrap flex-col justify-center content-center h-screen bg-center "  style="background-image: url(bg-home-1.jpg)" > 
        <KinesisContainer>
        <KinesisElement :strength="10" type="depth">
        <div class="text-center ">
          <p class="edwardian-light font-medium text-8xl  " > Restaurant Les Amoureux</p>
        </div>
        </KinesisElement>
        <KinesisElement :strength="20" type="depth">
        <div class="text-center">
          <p class="home-desc-light text-3xl underline"> Bienvenue dans notre restaurant Bistronomique</p>
        </div>
        <div class="text-center">
          <p class="home-desc-light sm:text-3xl text-2xl "> Réservation au : 09 73 56 12 66</p>
        </div>
        </KinesisElement>
        </KinesisContainer>
        <div class="bg-white  md:w-14 w-10 rounded-full mt-4 self-center">
          <img class="animate-bounce w-14" src="2079328.svg">
          
        </div>
      </div>
      <!-- Partie Horaire -->
       <div class="xl:bg-white  xl:mr-60 xl:ml-60  lg:mr-44 lg:ml-44 md:mr-32 md:ml-32">
      <div class=" flex flex-wrap justify-start items-center  ">
        <div class="w-1/2">
          <img src="img_hours.jpg" alt="Entrée Tartar de saumon">
        </div>
        <div class="home-desc w-1/2 text-3xl  ">
          <h2 class="edwardian-primary md:text-6xl text-4xl text-center">Nos horaires : </h2>
          <p class="md:text-3xl text-2xl  text-center"> Ouvert du mardi au samedi midi  </p>
          <p class="mb-3 md:text-3xl text-2xl text-center">Les vendredis-samedis soirs</p>
        </div>
      </div>
      <!-- Partie Adresse -->
      <div class=" flex flex-wrap  justify-center items-center ">
        <div class=" home-desc w-1/2 text-3xl  flex flex-col items-center">
          <h2 class="edwardian-primary md:text-6xl text-5xl text-center">L'adresse : </h2>
          <p class="text-center md:text-3xl text-2xl"> {{post_adresse}} </p>
          <router-link to="/contact"> <button class="  place-btn-style btn text-white rounded md:text-2xl text-lg w-44 sm:w-56 mb-3" > Nous situer sur la carte</button></router-link>
        </div> 
        <div class="w-1/2">
          <img src="img_adresse.jpg" alt="Plat Canard sauce lavande">
        </div>
      </div>
      </div>
      <!-- Partie la carte -->
      <div class="flex justify-center mb-4  bg-center w-full bg-color-secondary ">
        <div class="self-center">
          <p class="edwardian text-6xl  mt-2 w-72 text-white  text-center"> Notre Carte :</p>
          <button class="  place-btn-carte btn w-72 text-white rounded text-2xl w-56 mb-3"> Découvrir la carte</button>
        </div>
      </div> 
      <!-- Partie Carousel -->

      <div class="flex flex-wrap flex-col items-center justify-center mb-4 mt-4 ">
        <div class="self-center">
          <p class="edwardian-primary text-6xl mt-2 "> Petit avant gout ?</p>
        </div>
      </div>
      <section class="py-8 px-4">
        <div class="flex flex-wrap -mx-4 -mb-8">
          <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md" src="plat1.jpg" alt=""></div>
          <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md" src="entree1.jpg" alt=""></div>
          <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md" src="dessert1.jpg" alt=""></div>
          <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md" src="plat2.jpg" alt=""></div>
          <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md" src="dessert2.jpg" alt=""></div>
          <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md" src="entree3.jpg" alt=""></div>
          <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md" src="dessert3.jpg" alt=""></div>
          <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md" src="entree2.jpg" alt=""></div>
        </div>
      </section>
</div>
</template>

<script>
import { KinesisContainer, KinesisElement } from 'vue-kinesis'
export default {
    name: 'HomeComponent',
    data(){
        return {
        platImg:"plat_home_page.jpg",
        post_adresse:"53 Rue de Naves – 59400 Cambrai",
        hours:"",
        slide:["plat_home_page.jpg",'dessert-home-page.jpg','dessert-home-page2.jpg','entree1.jpg','entree2.jpg','plat3.jpg'],
    }
    },
    components:{
      KinesisContainer,
      KinesisElement,
    },
    methods:{
    }
}
</script>

<style>

.bg-color-primary{
  background-color: #5D328F;
}
.bg-color-secondary{
  background-color: #060709;
}
.edwardian{
  font-family: "Edwardian-Script";
  color: #060709;
}
.edwardian-light{
  font-family: "Edwardian-Script";
  color: white;
}
.edwardian-primary{
  font-family: "Edwardian-Script";
  color: #5D328F;
}
.home-desc{
  font-family:"Champagne";
  color: #060709;
}
.home-desc-light{
  font-family:"Champagne";
  color: white;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.place-btn-style{
  background-color: #5D328F;
}
.place-btn-carte{
  background-color: #5D328F;
}
.place-btn-carte:hover:after{
  width: 100%; 
  left: 0;
}
.place-btn-style:hover:after{
  width: 100%; 
  left: 0;
}
.place-btn-style:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  background: #060709;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.place-btn-carte:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
</style>