<template>
    <div>
    <!-- Titre et sous titre avec fond -->
      <div class=" home flex flex-wrap flex-col justify-center content-center h-96 bg-center "  style="background-image: url(bg-home-1.jpg)" > 
        <div class="text-center ">
          <p class="edwardian-light font-medium text-8xl  " > Mentions Légales </p>
        </div>
      </div >
      <div class="flex flex-col jutify-center mr-24 ml-24 items-center " >
        <div>
            <br>
            Raison sociale : Les Amoureux
            <br>
            Forme juridique :
            <br>
            Tél .09 73 56 12 66
            <br>
            Siret:849 067 855 000 15
            <br>
            Site Internet :restaurant-les-amoureux.fr
        </div> 
        <div class="mt-4">
            Le site Internet https://restaurant-les-amoureux.fr est l’adresse officielle du site Internet de la société Les Amoureux.
            Il est la propriété de la société Les Amoureux.
            <br>
            Directeur de la Publication du Site Internet : Delcourt Nicolas
            <br>
            Hébergement : OVH.
            Conception graphique et développement : Delcourt Nicolas
        </div>
        <div class="mt-4">
            La société Les Amoureux se réserve le droit, à tout moment, de modifier et/ou interrompre, temporairement ou de manière définitive, tout ou partie du Site Internet. L’accès à certains produits et services présentés sur le Site Internet peut faire l’objet de restrictions.
            <br>
            Informations contenues sur le Site Internet :

            Les informations, images et photos contenues sur le Site Internet, notamment celles relatives aux caractéristiques techniques des produits présentés, ne sont données qu’à titre informatif ou indicatif et ne sauraient être considérées comme constituant une offre contractuelle de produit ou de service émanant de la société Les Amoureux ou de ses distributeurs.

            La société restaurant les amoureux et ses distributeurs sont à votre disposition pour vous apporter toutes informations, notamment relatives aux tarifs, à la disponibilité des produits et prestations présentés.
            <br>
            Droits de propriété intellectuelle :

            Les pages et contenus présentés sur le Site Internet sont protégés par des droits de propriété intellectuelle.

            Toute reproduction ou représentation, même partielle, à d’autres fins qu’un usage privatif sur quelque support que ce soit, est interdite et constituerait une contrefaçon sanctionnée par les articles L 335-2 et suivants du code de le propriété intellectuelle.
        </div>
        <div class="mt-4">
            Cookies :

            Le Site Internet utilise des “cookies” temporaires, c’est-à-dire des fichiers de données envoyés à votre navigateur par un serveur web et stockés sur le disque dur de votre ordinateur.

            Ces “cookies” ne permettent pas de vous identifier personnellement mais, d’une manière générale, d’enregistrer des informations relatives à la navigation de votre ordinateur sur le Site Internet (pages consultées, dates et heures de consultation…). Ces informations seront reconnues et lues par le Site Internet lors de votre prochaine visite afin d’en faciliter la visite.

            Vous pouvez désactiver ou supprimer les “cookies” par l’intermédiaire des paramètres de votre navigateur Internet.
        </div>
        <div class="mt-4">
            Loi “Informatique et Libertés” :

            Conformément à l’article 38 de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous bénéficiez d’un droit d’accès, de rectification, d’opposition et de suppression des informations nominatives que vous communiquez à la société Les Amoureux via le Site Internet en s’adressant par écrit au Directeur de la publication visé plus haut.

            La société Les Amoureux s’engage à ne pas transmettre à des tiers les données personnelles que vous lui communiquez via le Site Internet.
            <br>
            <br>
            Liens hypertextes :

            La mise en place d’un lien hypertexte vers le Site Internet nécessite une autorisation préalable et écrite à la société Les Amoureux.
            Limitation de responsabilité :
            <br>
            <br>
            La société Les Les Amoureux ne pourra être tenue responsable des dommages, directs ou indirects, tels dommages matériels et/ou financiers, pertes de données, pertes de programmes, résultant de l’accès et/ou de l’utilisation du Site Internet. 
            <br>
            La société restaurant les amoureux  décline notamment toute responsabilité en cas de dommage résultant :
                <br>
                – de l’interruption du Site Internet ;
                <br>
                – de bogues et virus ;
                <br>
                – de l’intrusion frauduleuse d’un tiers ayant entraîné une modification des informations présentées sur le Site Internet ;
                <br>
                – du téléchargement d’éléments contenus sur le Site Internet (données, textes, images, vidéos, sons…).
        </div>
        <div class="mt-4">
            Droit applicable :
                <br>
                Le Site Internet et ses conditions d’accès et d’utilisation sont régis par le droit français. L’internaute reconnaît avoir pris connaissance des mentions légales et s’engage à les respecter.

                Tout différent relatif au dit Site Internet sera soumis à la compétence exclusive des Tribunaux dont dépend le siège social de la société Les Amoureux</div>
        </div>
    </div>
</template>
<script>
export default{
    name:"LegalComponent",
    data: function(){
        return{

        }
    }
}
</script>
