<template>
<div class="min-h-screen flex flex-col items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8   ">
  <div v-if="loginError" class="bg-red-100 border border-red-400 w-96 text-red-700 px-4 py-3 rounded relative " role="alert">
    <strong class="font-bold">Erreur !</strong>
    <span class="block sm:inline">Email ou Mot de passe invalide.</span>
    <span class="absolute top-0 bottom-0  px-4 py-3">
      <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" @click="loginError = !loginError"/></svg>
    </span>
  </div>
  <div class="max-w-md w-full space-y-8 border-primary pb-2 pl-2 pr-2 rounded">
    <div>
      <img class="mx-auto h-36 w-auto" src="logo-login.png" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold secondaryfont">
        Se connecter sur l'espace de gestion
      </h2>
    </div>
    <form class="mt-8 space-y-6">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email-address" class="sr-only">Email</label>
          <input v-model="form.login_email" id="email-address"  type="email"  required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email">
        </div>
        <div>
          <label for="password" class="sr-only">Mot de passe</label>
          <input v-model="form.login_password" id="password"  type="password"  required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Mot de passe">
        </div>
      </div>
      <div>
        <button  class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white color-primary hover:bg-white hover:text-black hover:border hover:border-p-2 hover:border-black  " @click="login()">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="h-5 w-5 text-white group-hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          Se connecter
        </button>
      </div>
    </form>
  </div>
</div>
</template>

<script>
import axios from 'axios';
export default {
name :"LoginComponent",
data(){
  return{
    loginError:false,

    //Form Login 
    form:{
      login_email:null,
      login_password:null,
    },
    
    responseAPI:null,
    isAuthenticated:false,

  }

},
mounted: function() {
  
},
methods:{

  login(){
    this.postLogin(this.form.login_email, this.form.login_password)
  },

  // Methode de test de connexion à l'API 
  postLogin( login, pass){
    axios.post('http://localhost:1337/auth/local', {
    identifier: login,
    password: pass,
    }).then((resp) => {
      this.responseAPI = resp
      localStorage.jwtToken = resp.data.jwt
      this.$router.push('/dashboard')
    })
    .catch(error =>{
      this.responseAPI = error
      console.log(error)
      this.loginError = !this.loginError
    } )
  }

}
}
</script>
<style>
.color-primary{
    background-color: #5D328F;
}

.border-primary{
    border:2px solid #5D328F;
}
.secondaryfont{
  font-family:"Champagne";
  
}
</style>