<template>
  <div>
    <nav class="bg-nav  w-screen ">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
        <div class="flex items-center  justify-between h-20 md:h-24">
          <div class="flex items-center ">
            <div class="flex-shrink-0">          
              <img class="h-18 w-60 md:w-48 md:h-18 xl:w-72 xl:h-18 " src="LogoBlanc.png" alt="Restau">
            </div>
            <!-- Sart Nav Menu Elements lg md xl screen-->
            <div class="hidden font-gro md:block sm:hidden">
              <div class="ml-10 flex items-start space-x-4">
                <router-link class=" nav-police hover-bg text-white px-3 py-6 xl:text-lg rounded" to="/">Accueil</router-link>
                <router-link class=" nav-police hover-bg text-white px-3 py-6 xl:text-lg rounded" to="/lacarte">La carte</router-link>
                <router-link class="nav-police hover-bg text-white px-3 py-6 xl:text-lg rounded " to="/actus">Actualités et photos</router-link>
                <router-link class="nav-police hover-bg text-white px-3 py-6 xl:text-lg rounded " to="/apropos">A propos</router-link>
                <router-link class="nav-police hover-bg text-white px-3 py-6 xl:text-lg rounded " to="/contact">Contactez-nous</router-link>
              </div>
            </div>
          </div> 
          <!-- Part contact phone number--> 
          <div class = "hidden md:block sm:hidden">
            <div class="ml-4 flex items-start md:ml-2">
              <div class=" md:hidden lg:block flex-shrink-0 phone-bg p-1 text-white xl:text-lg ">Réservation : </div>
              <div class=" flex-shrink-0 phone-bg p-1 text-white xl:text-lg  border border-white" > 09 73 56 12 66</div>
            </div>
          </div>
          <!-- Start part for sm screen -->
            <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
              <label class ="mobile-menu" for="check">
                <input type="checkbox" id="check"  @click="mobileMenu = !mobileMenu" /> 
                <span></span>
                <span></span>
                <span></span>
              </label>

          </div>
        </div>
      </div>
      <div class=" md:hidden " v-if="mobileMenu" >
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
          <div class="phone-bg p-1 text-white  border border-white" > Réservation:  09 73 56 12 66</div>
          <router-link class="text-gray-300 hover-bg hover:text-white block px-3 py-2 rounded-md " to="/">Accueil</router-link>
          <router-link class="text-gray-300 hover-bg hover:text-white block px-3 py-2 rounded-md  " to="/lacarte">La carte</router-link>
          <router-link class="text-gray-300 hover-bg hover:text-white block px-3 py-2 rounded-md  " to="/actus">Actualités et photos</router-link>
          <router-link class="text-gray-300 hover-bg hover:text-white block px-3 py-2 rounded-md  " to="/apropos">A propos</router-link>
          <router-link class="text-gray-300 hover-bg hover:text-white block px-3 py-2 rounded-md " to="/contact">Contactez-nous</router-link>
        </div>
      </div>
    </nav>
  </div>

</template>

<script>


export default {
  data: function(){
    return{
      mobileMenu: false
    }
  },
  name: 'NavMenu',
  props: {
    msg: String
  },
  methods:{

  }
}
</script>

<style>
.nav-police{
  font-family:"Champagne";
  
}
.bg-nav {
  background-color:#060709 ;
  
}
.hover-bg:hover:after{
  width: 100%; 
  left: 0;
}
.hover-bg:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  background: #5D328F;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.mobile-menu{
display:flex;
  flex-direction:column;
  width:70px;
  cursor:pointer;
}
.mobile-menu span{
  background: #fff;
  border-radius:10px;
  height:7px;
  margin: 7px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}

.mobile-menu span:hover{
  background: #5D328F;
  border-radius:10px;
  height:7px;
  margin: 7px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}
span:nth-of-type(1){
  width:50%;
  
}

span:nth-of-type(2){
  width:100%;
}


span:nth-of-type(3){
  width:75%;
 
}


input[type="checkbox"]{
  display:none;
}


input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px,0px)
}


input[type="checkbox"]:checked ~ span:nth-of-type(2){
  
  transform-origin:top;
  transform:rotatez(-45deg)
}


input[type="checkbox"]:checked ~ span:nth-of-type(3){
  
  transform-origin:bottom;
  width:50%;
  transform: translate(30px,-11px) rotatez(45deg);
}


</style>