<template>
    <div>
    <!-- Titre et sous titre avec fond -->
      <div class=" home flex flex-wrap flex-col justify-center content-center h-96 bg-center "  style="background-image: url(bg-home-1.jpg)" > 
        <div class="text-center ">
          <p class="edwardian-light font-medium text-8xl  " > A Propos </p>
        </div>
        <div class="bg-white  md:w-14 w-10 rounded-full mt-4 self-center">
          <img class="animate-bounce w-14" src="2079328.svg">
        </div>
      </div>
      <!--  Apropos text et Image -->
      <div class="flex flex-wrap justify-center mt-12 mb-12">
           <div>
               <img src="aproposIMG.jpg" alt="">
           </div>
           <div class=" w-1/3 apropos-font text-xl font-bold">
                <p class="edwardian-primary text-7xl "> Découvrez notre histoire</p>
               <p>
                    Les Amoureux, c’est d’abord l’histoire de Rodolphe : amoureux de la cuisine, attiré par elle depuis son plus jeune âge.
                    Il quitte alors le système scolaire classique pour entamer un préapprentissage en cuisine dès l’âge de 14 ans.
                    Depuis ce jour, il ne l’a jamais quittée. L’envie d’ouvrir son établissement se dessine très vite dans son esprit. Il aura fallut près de 16 ans de plus pour que son grand rêve puisse se réaliser. Autant dire qu’il a eu le temps de se faire une idée très précise de ce dont il avait envie de construire !
                    Les Amoureux c’est aussi sa passion pour les beaux produits et le travail bien fait. Sans cesse en quête d’innovation et d’originalité, il a la volonté de faire redécouvrir les plats classiques remis au goût du jour à ses clients. Il a choisi de valoriser les produits de notre terroir en favorisant le frais et le local pour la réalisation de ses plats.
                    Vous aurez donc droit à une carte certes restreinte mais faite maison et avec Amour bien évidemment.
               </p>
           </div>
      </div>
    </div>
</template>
<script>


export default ({
    name:'ProposComponent',
    data: function() {
        return{

        }
    },
})
</script>
<style>
.apropos-font{
    font-family:"Champagne";
}
.edwardian-primary{
  font-family: "Edwardian-Script";
  color: #5D328F;
}
</style>