<template>
    <div id="app" class="overflow-y-hidden">
      <notifications position="top center"/>
      <router-view/>
    </div>
</template>
<script>

export default{
    name: 'App',
  components: {

  }
}
</script>
<style>
#app {

  
}
@font-face {
  font-family: "Body-Grotesque";
  src: local("Body-Grotesque"),
   url("./fonts/grotesque/Body-Grotesque-Bold-trial.ttf") format("truetype");
}
@font-face {
  font-family: "Edwardian-Script";
  src: local("Edwardian-Script"),
   url(./fonts/edwardian-script-itc/edwardian-script-itc.ttf) format("truetype");
}
@font-face {
  font-family: "Champagne";
  src: local("Champagne"),
   url(./fonts/champagne_limousines/Champagne_Limousines.ttf) format("truetype");
}
</style>
